@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --primary-color: #fe3456;
  --danger-color: #ed4956;
  --success-color: #47d864;
  --warning-color: #ffc107;
  --max-width: 950px;
  --box-shadow: 0 0 10px 0 rgba(0 0 0 / 10%);
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes dropDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
/* 
.simplebar-content-wrapper,
.simplebar-mask {
  overflow: hidden !important;
} */
